
body{
    font-family:'Montserrat',sans-serif;
    color:#FAF9F6;
    background-color:#051924;
    align-items: center;
    justify-content: center;
    margin:0;
}
.wrapper{
    padding:0 10px;
    margin:0 auto;
    width:100%;
}
ul{
    list-style-type:none;
}
li{
    margin:12px;
}
a:link, a:visited{
    color:white;
    text-decoration:none;
}
a:hover{
    color:hotpink;
}
#nav-bar{
    text-align:right;
    padding-top:15px;
    padding-right:25px;
    font-size:25px;
    letter-spacing:1px;
}
.name{
    text-align:center;
    font-size:100px;
    cursor:default;
    margin-top:100px;
    text-shadow:2px 2px 500px #fff;
    animation:fly-in 2s linear;
}
@keyframes fly-in{
    0% {
        transform:translateY(-500%);
    }
    100% {
        transform:translateY(1%);
    }
}
#front-end{
    text-align:center;
    font-style:italic;
    font-size:20px;
    margin-top:-50px;
}
.icons{
    margin:15px auto 500px auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:50px;
    cursor:default;
}
#about-me{
    text-align:left;
    padding-left:75px;
    font-size:x-large;
    margin-bottom:300px;
    cursor:default;
}
#projects{
    padding-right:75px;
    font-size:x-large;
    text-align:right;
    cursor:default;
}
#background{
    margin-top:-400px;
    width:100%;
    height:auto;
    z-index:-5;
    position:relative;
}
